<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello Bulma!</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <script src="static/utilities.js"></script>
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="static/img/logos.png" width="112" height="28" />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item"> Home </a>

          <a class="navbar-item"> Blogs </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> More </a>

            <div class="navbar-dropdown">
              <a class="navbar-item"> About </a>
              <a class="navbar-item"> Jobs </a>
              <a class="navbar-item"> Contact </a>
              <hr class="navbar-divider" />
              <a class="navbar-item"> Report an issue </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light"> Log in </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="section">
      <div class="container">
        <center>
          <article class="message">
            <div class="message-body">
              Hello Friends
              <i
                class="em em-wave"
                aria-role="presentation"
                aria-label="WAVING HAND SIGN"
              ></i
              >! Welcome to Ishaan's Dev , I am

              <strong>Ishaan Dwivedi</strong>
              <i
                class="em em-bearded_person"
                aria-role="presentation"
                aria-label="BEARDED PERSON"
              ></i>
              A Future Engineer , you can explore me in this section of website
              .
            </div>
          </article>
        </center>
      </div>
      <br />
      <div class="container">
        <center>
          <article class="message is-success">
            <div class="message-body">
              <strong class="is-tab"
                >Who Am I ? ( Still Figuring Out
                <i
                  class="em em-anguished"
                  aria-role="presentation"
                  aria-label="ANGUISHED FACE"
                ></i
                >)
              </strong>
              <br />
              <p>
                <br />
                Well , It pretty difficult question to answer
                <i
                  class="em em-bow"
                  aria-role="presentation"
                  aria-label="PERSON BOWING DEEPLY"
                ></i>
                But Let me try !
              </p>
              <p>
                I am an engineering graduate persuing
                <i
                  class="em em-computer"
                  aria-role="presentation"
                  aria-label="PERSONAL COMPUTER"
                ></i
                >computer science engineering from
                <i
                  class="em em-school"
                  aria-role="presentation"
                  aria-label="SCHOOL"
                ></i>
                <span class="tag"
                  >Jaypee University Of Engineering & Technology</span
                ><br />
                I am a passonate developer and competetive coding enthusiast.
                Currently I am working as a Flutter Developer.
                <br />
                I like to play around new tech gadgets, Although I am a software
                programmer but my intrests are vast and I love to just get my
                hands dirty on some hardware stuffs as well .
              </p>
            </div>
          </article>
        </center>
      </div>
    </div>
    {% comment %} projects Section {% endcomment %}
    <div class="section">
      <div class="container">
        <h1 class="title">Major Projects</h1>

        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="static/img/projects/ss.png" alt="Image" />
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <div class="subtitle"><strong>Stack Share - A Community App</strong></div>

                  An app for coding community to share and resolve daily
                  programming issues by just uploading screen shots of the
                  problamatic code . The stack share app is live on google play
                  and is been activly used by more than 500
                  developers,programmers & collage students to learn and grow
                  together
                </p>

                <div class="subtitle is-6">Problem It Solves<i class="em em-no_good" aria-role="presentation" aria-label="FACE WITH NO GOOD GESTURE"></i></div>
                <p>
                  The Stack Share App bridges the gap between developers to
                  share their problems and get it resolved by community ,
                  without writing much
                </p>
                
                <div class="subtitle is-6">Technology Used <i class="em em-keyboard" aria-role="presentation" aria-label=""></i></div>
                <p>Primarly the app is made using Flutter,Firebase</p>
              </div>
              <div class="tags">
  <span class="tag">500+ Community </span>
  <span class="tag">Flutter </span>
  <span class="tag">Firebase</span>
</div>
<div class="subtitle is-6">Usefull links <i class="em em-link" aria-role="presentation" aria-label="LINK SYMBOL"></i></div>
                <p>
                <span class="tag is-link is-light">Get On Google Play</span>
                <span class="tag is-link is-light">GitHub</span>
                <span class="tag is-link is-light">Facebook Page</span>

                
                </p>
              </div>
            </div>


               <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="static/img/projects/cardfy1.png" alt="Image" />
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <div class="subtitle"><strong>Cardfy - Digital Cards for content creators</strong></div>
      Cardify is free online digital card provider cross-platform app specifically designed for content creators ( but not limited to ) . It is really hard to for a passionate content creator to publicize his/her identity while keeping personal life separate and still managing to get more number of followers and love ❤️ from people.Cardify helps these people to create a verified digital card which has all their social , professional & business info at one place and guess what ! all you have to do is to share a link or QR which cardify provides for sharing all your info faster✨ than ever .
                </p>
                </p>

                <div class="subtitle is-6">Problem It Solves<i class="em em-no_good" aria-role="presentation" aria-label="FACE WITH NO GOOD GESTURE"></i></div>
                <p>
                  The Stack Share App bridges the gap between developers to
                  share their problems and get it resolved by community ,
                  without writing much
                </p>
                
                <div class="subtitle is-6">Technology Used <i class="em em-keyboard" aria-role="presentation" aria-label=""></i></div>
                <p>Primarly the app is made using Flutter,Firebase</p>
              </div>
              <div class="tags">
  <span class="tag">500+ Community </span>
  <span class="tag">Flutter </span>
  <span class="tag">Firebase</span>
</div>
<div class="subtitle is-6">Usefull links <i class="em em-link" aria-role="presentation" aria-label="LINK SYMBOL"></i></div>
                <p>
                <span class="tag is-link is-light">Get On Google Play</span>
                <span class="tag is-link is-light">GitHub</span>
                <span class="tag is-link is-light">Facebook Page</span>

                
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </body>
</html>
